@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #115666;
  --secondary-color:  #0080FF;
  --emphasis-color:  #00C853;
  --alert-color: #D32F2F;
  --background-color: #F5F5F5;
  --primary-text-color: #ffffff;
  --secondary-text-color: #A9A9A9;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  background: var(--background-color);
}